<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <input type="file" class="input">
        <button class="submit">Submit</button>
    </div>
</body>
    <script>
        const input = document.querySelector('.input')
        const submit = document.querySelector('.submit')

        async function send() {
            const form = new FormData()
            form.append('image', input.files[0])

            const options = {
                method : 'POST',
                body : form
            }

            try {
                const result = await fetch('/admin/test', options)
                if(!result.ok) return new Error('Internal server error')
                    const data = await result.json()
                    console.log(data)
            } catch (error) {
                console.log('Error', error)
            }
        }

        submit.onclick = send
        
    </script>
</html>