<nav class="navbar bg-body-tertiary navbar-expand-lg fixed-top pb-3 pt-4 pt-lg-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-4 ms-lg-5 ms-3 me-lg-5 pe-lg-5" href="#">Showroom</a>
      <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start bg-body-tertiary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Showroom</h5>
          <button type="button" class="btn-close border-0 shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body align-items-center ms-lg-5 ps-lg-5">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 align-items-center mt-lg-0 mt-5 gap-3 ms-lg-5 ps-lg-5 pe-lg-5">
            <li class="nav-item">
              <a class="nav-link active fs-5 ms-lg-5 mx-3 ps-lg-5" aria-current="page" href="/admin/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-5 mx-4" aria-current="page" href="/admin/vehicles">Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-5 mx-2" aria-current="page" href="/admin/new">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-5 mx-3" aria-current="page" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5 mx-2" aria-current="page"href="/admin/queries">Enquiries</a>
          </li>
          </ul>
          <div class="me-lg-5 text-center mt-lg-0 mt-5 me-3">
              <a class="btn fs-5 text-white rounded-pill" aria-current="page"href="/auth/logout" style="background-color: rgb(230, 107, 128);">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>